{% extends "base.html" %}
{% block title %}Blogging{% endblock %} 
{% block content %}
<main class="container">
  {% if user.id == post.author.id or user.is_superuser %}
  <h1>Delete Post</h1>
  <article>
    <h2>{{ post.title }}</h2>
    <p class="meta">
      Posted by <span class="author">{{ post.author }}</span> on
      <span class="date">Date {{ post.date_created|date:"D d M H:i" }}</span>
    </p>
    <section class="content">
      <p>{{ post.body|safe }}</p>
    </section>
  </article>

  <form method="post" class="form-group">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>
  {% else %}
  <h1>Access Denied</h1>
  <p>You are not authorized to delete this post.</p>
  {% endif %}
</main>
{% endblock %}
