{% extends "base.html" %}
{% block title %}Blog Posts{% endblock %} 
{% block content %}
<main>
  <h1>Blog Posts</h1>
  <ul>
    {% for post in object_list %}
    <li class="post-item">
      <div>
        <h4 class="d-inline">
          <a href="{% url 'post' post.pk %}"
            >{{ post.title }}</a
          >
          - {{ post.author }}
          - {{ post.date_updated|date:"D d M H:i" }}
          {% if user.id == post.author.id %}
          - <a href="{% url 'edit_post' post.pk %}">(Edit)</a>
          {% endif %}
          {% if user.id == post.author.id or user.is_superuser %}
          <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
          {% endif %}
        </h3>
      </div>
      <br>
      <p class="post-excerpt">{{ post.content|truncatewords:50 }}</p>
    </li>
    {% empty %}
    <li>No posts available.</li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
