{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<main>
    <article>
        <h2>{{ post.title }}</h2>
        <p class="meta">Posted by <span class="author">{{ post.author }}</span> on <span class="date">Date {{ post.date_created|date:"D d M H:i" }}</span></p>
        <section class="content">
            <p>{{ post.body }}</p>
        </section>
    </article>

    <a class="btn btn-dark" href="{% url "index" %}">Back</a>
    <a class="btn btn-dark" href="{% url 'edit_post' post.pk %}">Edit</a>
    <a class="btn btn-dark" href="{% url 'delete_post' post.pk %}">Remove</a>

</main>
{% endblock %}